* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* Primary colors */
  --red-builder: hsl(0, 78%, 62%);
  --cyan-superviser: hsl(180, 62%, 55%);
  --orange-karma: hsl(34, 97%, 64%);
  --blue-calculator: hsl(212, 86%, 64%);

  /* Neutral */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

.page-wrapper {
  color: var(--very-dark-blue);
  display: grid;
  grid-template-areas:
    "main-section"
    "supervisor"
    "builder"
    "karma"
    "calculator"
  ;
  grid-template-columns: 320px;
  grid-template-rows: 250px repeat(4, 250px);
  gap: 30px;
  justify-content: center;
}

.page-wrapper p {
  font-size: 15px;
  color: var(--grayish-blue);
}

.main-section {
  grid-area: main-section;
  margin-top: 70px;
  text-align: center;
}

.supervisor {
  grid-area: supervisor;
  border-top: 5px solid var(--cyan-superviser);
}

.builder {
  grid-area: builder;
  border-top: 5px solid var(--red-builder);
}

.karma {
  grid-area: karma;
  border-top: 5px solid var(--orange-karma);
}

.calculator {
  grid-area: calculator;
  border-top: 5px solid var(--blue-calculator);
}

.main-section h1 {
  font-size: 1.6em;
  margin-bottom: 10px;
}

.main-section span {
  font-weight: 200;
  color: var(--very-dark-blue);
}

.card-wrapper {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 7px 15px rgba(51, 51, 139, 0.226);
  display: flex;
  flex-direction: column;
}

.card-wrapper h2 {
  margin-bottom: 5px;
}

.card-wrapper img {
  align-self: flex-end;
  margin-top: auto;
}

footer {
  margin-top: 70px;
  text-align: center;
}

@media (min-width: 980px) {
  .page-wrapper {
    margin: auto;
    margin-top: 20px;
    max-width: 1200px;
    display: grid;
    grid-template-areas:
      "main-section  main-section    main-section"
      ".             builder         ."
      "supervisor    builder         calculator"
      "supervisor    karma           calculator"
      ".             karma           ."
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 280px repeat(4, 120px);
  }

  .main-section {
    width: 600px;
    margin: auto;
  }

  .main-section > h1 {
    font-size: 2.5em;
  }

  .main-section p {
    font-size: 1.2em;
  }
}