@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey:  hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-block: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--off-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 430px;
    width: 325px;
    padding: 20px;
    background-color: white;
    border-radius: 20px 20px 120px 20px;
    box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.027);
    transition: .2s ease;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.inputs-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 20px;
}


label {
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: var(--smokey-grey);
    margin-bottom: 4px;
}

input {
    width: 75px;
    height: 45px;
    border: 1px solid rgba(128, 128, 128, 0.26);
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

input:focus {
    outline: 1px solid var(--purple);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputs-container p {
    height: 10px;
}

.day-error,
.month-error,
.year-error {
    margin-top: 3px;
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    color: red;
}

.error-label {
    color: red;
}

.error-input {
    border-color: red;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-container > span {
    width: 117px;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.158);
}

button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--purple);
}

button > img {
   width: 22px;
   height: 22px;
}

button:hover {
    background-color: black;
}

.result-container {
    height: 200px;
    width: 100%;
    padding-top: 10px;
}

.result-container > p {
    font-weight: 800;
    font-style: italic;
    font-size: 47px;
    margin-bottom: -22px;
}

#yearsResult,
#monthsResult,
#daysResult {
    font-size: 50px;
    color: var(--purple);
}

/* -------------------------------------------------------------------------------------- */

@media (min-width: 900px)  {
    .container {
       height: 560px;
       width: 710px;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       padding: 20px 50px;
    }
 
    form {
       flex-direction: row;
       flex-wrap: wrap;
       gap: 0;
    }
 
    label {
        font-size: 13px;
    }

    input {
       width: 140px;
       height: 60px;
       font-size: 27px;
    }

    .day-error,
    .month-error,
    .year-error {
        margin-top: 3px;
        font-size: 12px;
    }

    .button-container > span:last-of-type {
       display: none;
    }
 
    .button-container > span:first-of-type {
       width: 550px;
    }

    button {
        width: 75px;
        height: 75px;
    }
 
    button > img {
       height: 37px;
       width: 35px;
    }
 
    .result-container {
       margin-top: -15px;
    }
 
    .result-container > p {
       font-size: 80px;
       margin-top: -10px;
   }
 
    #yearsResult,
    #monthsResult,
    #daysResult {
        font-size: 86px;
    }
 } 
 
 